* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------------------------task 2-----------------------------------*/
.contianer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contianer h1,
p {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
